authService/node_modules/
authService/*.env

userService/node_modules/
userService/*.env

likeService/node_modules/
likeService/*.env


postService/node_modules/
postService/*.env


likeService/node_modules/
likeService/*.env


commentService/node_modules/
commentService/*.env

notificationService/node_modules/
notificationService/*.env

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


